
$poppins: 'Poppins', sans-serif;
$reckless: 'Reckless' , serif;


$f_14: 14px;
$f_16: 16px;
$f_18:18px;
$f_20: 20px;
$f_36: 36px;
$f_56: 56px;
$f_88: 88px;



$container: 1250px;
@mixin container{
  width: $container;
  max-width: 100%;
  margin: 0 auto;
}

$container_small: 850px; 
@mixin container_small{
  width: $container_small;
  max-width: 100%;
  margin: 0 auto;
}

$spacing: 8px;

$radius: 10px;

$white: #FFFFFF;
$lighgrey: #F2F0EC;
$grey: #CECECE;
$green: #6DB680;
$black: #131218;
$sand: #E1DDCE;
$darkgrey: #808080;


$border: 1px solid $grey; 

.aspect-16-9 {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (9 / 16) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  video{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aspect-9-16 {
  position: relative;
  overflow: hidden;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (16 / 9) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  video{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


@mixin aspect($a, $b){
    position: relative;
    overflow: hidden;
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($b / $a) * 100%;
    }
    > img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      object-fit: cover;
    }
    video{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

