
em{
  font-style: italic;
}

.h1{
  font-family: $reckless;
  font-size: $f_88;
  font-weight: 400;
}

.h2{
  font-family: $reckless;
  font-size: $f_56;
  font-weight: 200;
}

.h3{
  font-family: $reckless;
  font-size: $f_36;
}

main{
  font-size: $f_16;
  color: $black;
  font-family: $poppins;
  background-color: $white;
}

.hero_container{
  position: relative;
  width: 100%;
  height: auto;
  @include aspect(16, 9);
  padding: 0px $spacing*3;
  .hero_layer{
    background-color: #54402A66;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  .video_hero{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: visible;
    object-fit: cover;
    transform: rotate(-180deg);
  }
  .hero_title_container{
    color: $white;
    font-size: $f_20;
    width: $container;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .h1{
      text-align: center;
      margin-top: $spacing*4;
      margin-bottom: $spacing*3;
    }
    .hero_label{
      font-weight: 600;
    }
  }
}

.sectione_one{
  @include container;
  padding: $spacing*11 $spacing*3;
}
.sectione_one_wrapper{
  display: flex;
  .section_one_img_container{
    width: 40%;
  }
  .sectione_one_text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-top: $spacing*4;
    padding-bottom: $spacing*4;
    .section_one_text_box{
      width: 80%;
      .section_one_body{
        margin: $spacing*8 0;
        display: flex;
        flex-direction: column;
        gap: $spacing*5;
      }
    }
    .section_one_link{
      color: $black;
      display: flex;
      gap: 8px;
      align-items: center;
      text-decoration: underline;
      font-size: $f_18;
      font-weight: 800;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.section_principi{
  background-color: $grey;
  padding-top: $spacing*11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing*11;
  .section_principi_headline_container{
    padding-right: $spacing*3;
    padding-left: $spacing*3;
    @include container;
    .section_principi_headline_wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $spacing*4;
      .icon_label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing*3;
      }
    }
  }
}

.section_principi_cards_container{
  width: 100%;
  .principi_cards_wrapper{
    display: flex
  }
  .principi_card{
    @include aspect(3, 4);
    width: 33.33%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .card_content_container {
      opacity: 0;
      padding: $spacing*2;
      transition: opacity 0.3s ease-in-out;
      width: 100%;
      height: 100%;
      background-color: $sand;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacing*5;
      .content_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        text-align: center;
        p:not(:last-child){
          font-size: $f_18;
          font-weight: 600;
        }
      }
    }
    &:hover{
      .card_title_container{
        .h2{
          color: $black;
        }
      }
      .card_content_container{
        opacity: 1;
      }
    }
    .card_title_container{
      width: 100%;
      position: absolute;
      z-index: 6;
      bottom: 30px;
      .h2{
        color: $white;
        font-style: italic;
        text-align: center;
      }
    }
  }
}

.section_scelta{
  padding: $spacing*20 $spacing*3;
  .section_scelta_container{
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing*6;
  }
  .span_video{
    display: inline-block;
    width: 100%;
    @include aspect(16, 9);
    vertical-align: middle;
    width: 200px;
    video{
      width: 100%;
      height: 100%;
      border-radius: $radius;
    }
  }
  .section_scelta_headline{
    width: 100%;
    text-align: center;
    p{
      font-weight: 300;
    }
  }
  .span_icon{
    vertical-align: middle;
  }
}





.section_accordion_uno{
  padding: 0px $spacing*4 $spacing*23 $spacing*4;
  .accordion_wrapper{
    @include container_small;
  }
  .accordion{
    color: $black;
    cursor: pointer;
    padding: $spacing*6 0px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border: none;
    outline: none;
    background-color: $white;
    .accordion_button_container{
      display: flex;
      flex-direction: column;
      gap: $spacing;
      position: relative;
      .accordion_title_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .accordion_border{
    border-top: $border;
  }
  .accordion_text{
    font-family: $poppins;
    font-size: $f_16;
    color: #808080;
  }

  .accordion_inner{
    display: flex;
    flex-direction: column;
    gap: $spacing*2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-bottom: $border;
    .accordion_inner_container{
      padding-bottom: $spacing*6;
    }
    .accordion_inner_row{
      display: flex;
      gap: $spacing*4;
      .row_text{
        width: 70%;
        color: #808080;
      }
      .row_title{
        font-size: $f_16;
        color: $black;
        font-weight: 600;
      }
    }
  }

}


.accordion_img_container{
  @include aspect(16, 9);
  width: 220px;
  position: absolute;
  top: -130px;
  left: 50%;
  transition: 0.4s ease-out;
  opacity: 0;
}


.accordion_icon_open{
  stroke: $black;
  transition: 0.4s ease-out;
}

.accordion_icon_close{
  display: none;
}

.active{
  .accordion_icon_open{
    display: none;
  }
  .accordion_icon_close{
    display: block;
  }
}

.accordion:hover {
  .accordion_title{
    color: $green;
  }
  .accordion_img_container{
    opacity: 1;
  }
  .accordion_icon_open{
    stroke: $green;
  }
}

.active.accordion{
  .accordion_img_container{
    opacity: 0;
  }
}



.section_cards_protagonista{
  padding: $spacing*20 $spacing*4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing*8;
  .section_cards_container_top{
    @include container_small;
    .section_cards_headline{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing*2;
    }
  }
  .cards_wrapper{
    @include container;
    display: flex;
    gap: 0px;
    .protagonista_card{
      height: 480px;
      display: flex;
      gap: $spacing*3;
      flex-direction: column;
      justify-content: flex-end;
      padding: $spacing*5;
      width: 25%;
      border: 1px solid $black;
      &:not(:last-child){
        border-right: none;
      }
      .card_title_wrapper{
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      .card_title{
        font-size: $f_20;
        font-weight: 600;
      }
    }

  }
}