
em{
  font-style: italic;
}

.h1{
  font-family: $reckless;
  font-size: $f_88;
  font-weight: 400;
}

.h2{
  font-family: $reckless;
  font-size: $f_56;
  font-weight: 200;
}

.h3{
  font-family: $reckless;
  font-size: $f_36;
}

.subtitle{
  font-size: $f_20;
}

main{
  font-size: $f_16;
  color: $black;
  font-family: $poppins;
  background-color: $white;
}

*{
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.hero_container{
  pointer-events: none;
  position: relative;
  width: 100%;
  height: auto;
  @include aspect(16, 9);
  padding: 0px $spacing*3;
  .hero_layer{
    background-color: #54402A66;
    opacity: 0.9;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  .video_hero{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: visible;
    object-fit: cover;
    transform: rotate(-180deg);
  }
  .hero_title_container{
    color: $white;
    font-size: $f_20;
    width: $container;
    max-width: 100%;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon_head{
      margin-bottom: 24px;
    }
    .h1{
      text-align: center;
      margin-top: $spacing*4;
      margin-bottom: $spacing*4;
      font-weight: 300;
      font-size: 7vw;
    }
    .hero_label{
      font-weight: 600;
      margin-bottom: $spacing*8;
    }
  }
}

.sectione_one{
  @include container;
  padding: $spacing*11 $spacing*3;
  .tilte_manifesto{
    h2{
      font-size: $f_20;
      font-weight: 500;
      margin-bottom: 40px;
    }
  }
}
.sectione_one_wrapper{
  display: flex;
  justify-content: center;
  gap: 56px;
  .section_one_video_container{
    width: 60%;
    overflow: hidden;
    border-radius: $radius !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 40px;
    video{
      width: 100%;
      height: auto;
      border-radius: $radius !important;
    }
    img{
      width: 235px;
    }
  }
  .sectione_one_text_container{
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 40%;
    // padding-top: $spacing*4;
    padding-bottom: $spacing*4;
    .section_one_text_box{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $spacing*5;
      .section_one_body{
        display: flex;
        flex-direction: column;
        gap: $spacing*3;
        .section_one_text{
          font-size: 14px;
        }
      }
    }
    .section_one_link{
      color: $black;
      display: flex;
      gap: 8px;
      align-items: center;
      text-decoration: underline;
      font-size: $f_18;
      font-weight: 800;
      span{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}


.section_principi{
  background-color: $lighgrey;
  padding-top: $spacing*9;
  padding-bottom: $spacing*12;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing*11;
  .section_principi_headline_container{
    padding-right: $spacing*3;
    padding-left: $spacing*3;
    @include container;
    .section_principi_headline_wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $spacing*6;
      .icon_label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing*3;
        p{
          font-size: $f_20;
        }
      }
      .h2{
        text-align: center;
      }
    }
  }
}

.section_principi_cards_container{
  width: 100%;
  @include container;
  .principi_cards_wrapper{
    display: flex;
    justify-content: space-between;
    gap: $spacing*3
  }
  .principi_card{
    // @include aspect(1, 1);
    width: 50%;
    min-height: 535px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    border-radius: $radius;
    .card_content_container {
      opacity: 0;
      padding: $spacing*2;
      transition: opacity 0.3s ease-in-out;
      width: 100%;
      height: 100%;
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacing*5;
      .content_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        text-align: center;
        p:not(:last-child){
          font-size: $f_18;
          font-weight: 600;
        }
      }
    }
    &:hover{
      .card_title_container{
        .h2{
          color: $black;
          @media screen and (max-width: 768px) {
            color: $white;
          }
        }
      }
      .card_content_container{
        opacity: 1;
      }
    }
    .card_title_container{
      width: 100%;
      position: absolute;
      z-index: 6;
      top: 72px;
      background-image: none !important;
      transition: opacity 0.6s ease-in-out;
      .h2{
        color: $white;
        font-style: italic;
        text-align: center;
        font-size: 36px;
        transition: opacity 0.6s ease-in-out;
      }
    }
  }
}



.principi_card_circular{
  background-image: url(../images/content/stile-italiano.jpeg);
}
.principi_card_fair{
  background-image: url(../images/content/circular-img.jpeg);
}


.section_scelta{
  padding: $spacing*20 $spacing*3;
  .section_scelta_container{
    @include container_big;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing*6;
    .section_scelta_label{
      font-size: $f_20;
    }
  }
  .span_video{
    display: inline-block;
    width: 100%;
    @include aspect(16, 9);
    vertical-align: middle;
    width: 200px;
    video{
      width: 100%;
      height: 100%;
      border-radius: $radius;
    }
  }
  .section_scelta_headline{
    width: 100%;
    text-align: center;
    p{
      font-weight: 300;
    }
  }
  .span_icon{
    vertical-align: middle;
  }
}



// accordion

.section_accordion{
  padding: 0px $spacing*4 $spacing*23 $spacing*4;
  .accordion_wrapper{
    @include container_small;
  }
  .accordion{
    color: $black;
    cursor: pointer;
    padding: $spacing*6 0px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    border: none;
    outline: none;
    background-color: $white;
    .accordion_button_container{
      display: flex;
      flex-direction: column;
      gap: $spacing;
      position: relative;
      .accordion_title_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .accordion_border{
    border-top: $border;  
  }
  .accordion_text{
    font-family: $poppins;
    font-size: $f_16;
    color: #808080;
  }

  .accordion_inner{
    display: flex;
    flex-direction: column;
    gap: $spacing*2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-bottom: $border;
    .accordion_inner_container{
      padding-bottom: $spacing*6;
    }
    .accordion_inner_row{
      display: flex;
      gap: $spacing*4;
      margin-bottom: 16px;
      .row_text{
        width: 70%;
        color: #808080;
      }
      .row_title{
        font-size: $f_16;
        color: $black;
        font-weight: 600;
      }
    }
  }

}


.accordion_img_container{
  @include aspect(16, 11);
  width: 220px;
  position: absolute;
  top: -150px;
  left: 43%;
  transition: 0.4s ease-out;
  opacity: 0;
}


.accordion_icon_open{
  stroke: $black;
  transition: 0.4s ease-out;
}

.accordion_icon_close{
  display: none;
}

.active{
  .accordion_icon_open{
    display: none;
  }
  .accordion_icon_close{
    display: block;
  }
  .accordion_title{
    color: $green !important;
  }
}

.accordion:hover {
  .accordion_title{
    color: $green;
    @media screen and (max-width: 768px) {
      color: $black;
    } 
  }
  .accordion_img_container{
    opacity: 1;
  }
  .accordion_icon_open{
    stroke: $green;
  }
}


.active.accordion{
  .accordion_img_container{
    opacity: 0;
  }
}

.animation_card{
  transform: translateY(100%);
}
.card_scrollUp{
  transform: translateY(100%);
}
.animation_cards_wrapper{
  overflow-y: hidden;
}
.section_cards{
  padding: 140px $spacing*4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $spacing*8;
  .section_cards_container_top{
    @include container_small;
    .section_cards_headline{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing*2;
    }
  }
  .section_cards_container_bottom{
    @include container_big;
  }
  .cards_wrapper{
    @include container_big;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 0px;
    .protagonista_card{
      position: relative;
      @include aspect(9,14);
      display: flex;
      gap: $spacing*3;
      flex-direction: column;
      justify-content: flex-end;
      // width: 25%;
      flex: 1 0 auto;
      min-width: 230px;
      border: 1px solid $black;
      transition: background-color 0.3s ease-in-out;
      &:hover{
        background-color: $green;
        border: 1px solid $green;
        color: $white;
        .circle_icon circle{
          fill: white;
        }
        .card_text{
          color: white;
        }
      }
      &:not(:last-child){
        border-right: none;
      }
      .card_title{
        font-size: $f_20;
        font-weight: 600;
      }
      .circle_icon{
        position: absolute;
        top: 70px;
        right: 70px;
      }
    }
    .card_content_wrapper{
      position: absolute;
      padding: $spacing*5;
      display: flex;
      flex-direction: column;
      gap: $spacing*3;
      justify-content: flex-start;
      height: 60%;
      min-height: 350px;
      .card_text{
        color: #666666;
      }
    }
  }
}

// video full screen desktop
.video_full_screen{
  position: relative;
  &::after{
    content: "";
    background-color: rgba($color: #13121880, $alpha: 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

// card everyone can

.last_section_cards{
  padding-top: 0px !important;
  @include container_medium;
  padding-left: 0px;
  padding-right: 0px;
  .section_cards_container_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    .card_photo_container{
        width: 50%;
    }
    .text_everyone{
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 50%;
      h2{
        font-family: $reckless;
        font-size: 36px;
      }
      p{
        color: #666666;
        &:not(:last-child){
          margin-bottom: 24px;
        }
      }
    }
    }
}


// tabs

.tabs_section{
  padding: 0px $spacing*4;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  // padding-top: $spacing*2;
  padding-bottom: $spacing*24;
  display: flex;
  flex-direction: column;
  gap: $spacing*7;
  .tabs_container{
    @include container_big;
    top: 86px;
    position: sticky;
    z-index: 2;
    background-color: #F5F5F5;
  }
  .tabs_buttons{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    .tab_link_wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing*7;
      .tab_link{
        text-transform: uppercase;
        font-size: $f_18;
        font-weight: 400;
        color: $darkgrey;
        cursor: pointer;
        &.active{
          font-weight: 700;
          color: $black;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: $spacing*2;
        }
        &.active::before{
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background-color: $black;
          border-radius: 50%;
        }
      }
    }
  }
  .tab_content{
    animation: fadeEffect 1s;
    @include container_small;
    display: flex;
    flex-direction: column;
    gap: $spacing*7;
    .tab_headline{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $spacing*3;
    }
    .tab_text{
      text-align: center;
      width: 85%;
      max-width: 100%;
    }
    .tab_inner_content{
      display: flex;
      flex-direction: column;
      gap: 0px;
    }
  }
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.tab_text_img_component{
  padding: $spacing*7 0px;
  border-top: 1px solid #CECECE;
  border-bottom: 1px solid #CECECE;
  &:last-child{
    border-top: none;
  }
  display: flex;
  gap: $spacing*6;
  .img_container{
    width: 50%;
  }
  .content_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: $spacing*4;
    .title{
      font-size: $f_36;
      font-family: $reckless;
      font-weight: 400;
    }
  }
  .questions_container{
    display: flex;
    flex-direction: column;
    gap: $spacing*2;
    .question_paragraph{
      .question{
        margin-bottom: $spacing;
        font-weight: 600;
        color: $black;
      }
      p{
        color: #666666;
      }
    }
    .green_label{
      font-size: $f_14;
      text-transform: uppercase;
      color: $green;
      font-weight: 600;
      display: flex;
      align-items: center;
      span{
        display: flex;
        align-items: center;
        margin: 0px 5px;
      }
    }
  }
  .btn_acquista{
    background-color: $black;
    padding: 10px 24px;
    text-transform: uppercase;
    color: $white;
    width: fit-content;
    border-radius: 3px;
    &:hover{
      opacity: 0.8;
    }
  }
  .btn_scopri{
    color: $black;
    font-size: $f_18;
    font-weight: 800;
    text-decoration: underline;
    &:hover{
      opacity: 0.8;
    }
  }
}

#materiali{
  display: none;
}

#careguide{
  display: none;
  @include container_big;
}

.solo_text_component{
  padding: $spacing*8 $spacing*4 $spacing*11 $spacing*4;
  p{
    text-align: center;
  }
}



.tab_accordion_component{
  .accordion_intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing*4;
    margin-bottom: $spacing*4;
    p{
      font-size: $f_20;
    }
  }
  .section_accordion{
    padding: 0px;
  }
  .accordion_tab{
    padding: 24px 0px;
    background-color: #F5F5F5;
    .accordion_title_container{
      font-weight: 600;
      font-size: $f_20;
    }
  }
  .accordion_inner{
    .accordion_inner_container{
      padding-top: 24px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: $spacing*7;
      .accordion_inner_text{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: $spacing*4;
        .question{
          display: flex;
          flex-direction: column;
          gap: $spacing;
          h6{
            font-weight: 600;
            font-size: $f_14;
          }
          p{
            font-size: $f_14;
            color: #666666;
            &:not(:last-child){
              margin-bottom: $spacing*2;
            }
          }
        }
      }
      .accordion_inner_img{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: $spacing*4;
        .accordion_inner_text{
          width: 100% !important;
        }
      }
    }
  }
}

.careguide_tab{
  .tab_headline{
    @include container_small;
  }
  .tab_cards_component{
    width: 980px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    padding-top: $spacing*6;
    padding-bottom: $spacing*10;
    gap: $spacing*4;
    .section_cards_container_bottom{
      .cards_wrapper{
        .protagonista_card{
          width: 33.3%;
          @include aspect(9,15.5);
          .card_content_wrapper{
            .card_text{
              font-size: $f_14;
            }
          }
        }
      }
    }
  }
}


.next_tab_component{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing*11;
  .next_btn_container{
    display: flex;
    flex-direction: column;
    gap: $spacing*2;
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: $spacing;
      h4{
        cursor: pointer;
        font-family: $reckless;
        font-size: $f_36;
      }
    }
  }
}

.start_btn{
  .scroll_up_btn{
    cursor: pointer;
    text-decoration: underline;
    color: $black;
    font-weight: 800;
    &:hover{
      opacity: 0.8;
    }
  }
}

// documento scaricabile

.last_section{
  background-color: #F5F5F5;
  padding-bottom: 68px;
  padding-left: 32px;
  padding-right: 32px;
  .last_section_container{
    @include container_small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
  .doc_box{
    width: 100%;
    background-image: url(../images/content/doc-box.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    border-radius: $radius;
    gap: 40px;
    text-align: center;
    .box_text{
      h2{
        font-family: $reckless;
        font-size: 36px;
        margin-bottom: 16px;
      }
    }
    .cta{
      a{
        display: flex;
        color: $white;
        text-decoration: underline;
        gap: 8px;
        align-items: center;
        justify-content: center;
        font-weight: 800;
      }
    }

  }
}



// mobile

@media only screen and (max-width: 768px) {

  main{
    font-size: $f_14;
  }

.hero_container{
  @include aspect(9, 16);
  width: 100%;
  .hero_title_container{
    padding: 0px 14px;
    .hero_label{
      margin-bottom: 56px;
    }
    h1{
      font-size: 48px !important;
      width: 90%;
      margin-top: 0px !important;
    }
    p{
      width: 90%;
      text-align: center;
    }
  }
}

.sectione_one{
  padding: $spacing*8 $spacing*4;
  .tilte_manifesto{
    h2{
      margin-bottom: 24px;
    }
  }
  .sectione_one_wrapper{
    flex-direction: column;
    gap: 40px;
    .sectione_one_text_container{
      width: 100%;
      padding-bottom: 0px;
      .section_one_text_box{
        .section_one_body{
          gap: 16px;
        }

      }
    }
    .section_one_video_container{
      width: 100%;
    }
  }
}



.section_principi{
  padding: 64px 0px 45px 32px;
  gap: 32px;
  .section_principi_cards_container{
    .principi_cards_wrapper{
      gap: 16px;
    }
  }
  .section_principi_headline_container{
    .section_principi_headline_wrapper{
      gap: 16px;
      .icon_label{
        gap: 8px;
        p{
          font-size: 16px;
        }
      }
      .h2{
        font-size: 32px;
        text-align: center;
      }
    }
  }
}

.section_scelta{
  padding: 64px 24px;
  .section_scelta_container{
    gap: 16px;
    .section_scelta_headline{
      .h1{
        font-size: 45px;
      }
      .span_video{
        width: 120px;
      }
      .span_icon{
        svg{
          width: 40px;
          height: 40px;
        }
      }
    }
  }
  .section_scelta_label{
    p{
      font-size: 16px;
    }
  }
}

.section_accordion{
  padding-bottom: 64px;
  .accordion_wrapper{
    .accordion{
      padding: 24px 0px;
      .accordion_button_container{
        .accordion_img_container{
          display: none;
        }
        .accordion_title_container{
          .accordion_title{
            font-size: 32px;
          }
          .accordion_icon_open{
            width: 16px;
          }
          .accordion_icon_close{
            width: 16px;
          }
        }
        .accordion_text{
          font-size: 14px;
        }
      }
    }
    .accordion_inner{
      .accordion_inner_container{
        padding-bottom: 24px;
        .accordion_inner_row{
          flex-direction: column;
          &:not(:last-child){
            margin-bottom: 16px;
          }
          gap: 8px;
          .row_text{
            width: 100%;
          }
        }
      }
    }
  }
}

.video_full_screen{
  .hero_container{
    @include aspect(16, 12);
    padding: 0px 14px;
    .hero_title_container{
      .h1{
        font-size: 32px !important;
        margin-bottom: 0px;
      }
    }
  }
}

.section_cards{
  padding: 64px 32px;
  gap: 40px;
  .section_cards_container_top{
    .section_cards_headline{
      padding: 0px 32px;
      .subtitle{
        font-size: 16px;
      }
      .h2{
        font-size: 32px;
      }
    }
  }
}

.section_cards{
  padding-left: 0px;
  padding-right: 0px;
  .section_cards_container_bottom{
    overflow-x: unset;
    .cards_wrapper{
      flex-wrap: nowrap !important;
      .first_card_protagonista{
        margin-left: 32px !important;
      }
      .last_card_protagonista{
        margin-right: 32px !important;
      }
      .protagonista_card{
        width: 80vw !important;
        @include aspect(37, 43);
        .circle_icon{
          top: 48px;
          right: 32px;
        }
        .card_content_wrapper{
          padding-left: 32px;
          padding-right: 32px;
          padding-bottom: 32px;
          display: flex;
          justify-content: flex-end;
          .card_title{
            font-size: 18px;
          }
        }
      }
    }
  }
}

.last_section_cards{
  gap: 40px;
  padding: 64px 32px;
  .section_cards_container_bottom{
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .card_photo_container{
      width: 100%;
    }
    .text_everyone{
      width: 100%;
      gap: 16px;
      h2{
        font-size: 24px;
      }
      .p_everyone{
        p{
          &:not(:last-child){
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

.section_cards_container_bottom::-webkit-scrollbar{
  display: none;
}

.tabs_section{
  gap: 40px;
  padding-bottom: 90px;
  padding-left: 0px;
  padding-right: 0px;
  .tabs_container{
    padding: 0px 32px;
    top: 21px;
    .tabs_buttons{
      height: 50px;
      .tab_link_wrapper{
        gap: 24px;
        .tab_link{
          font-size: 16px;
          gap: 8px;
        }
      }
    }
  }
  .tab_content{
    padding: 0px 32px;
    .tab_headline{
      .h2{
        font-size: 32px;
      }
    }
  }
}

#iniziative, #materiali {
  .tab_text{
    width: 100%;
  }
}

.tab_text_img_component{
  padding: 32px 0px;
  flex-direction: column;
  gap: 24px;
  .img_container{
    width: 100%;
    padding-bottom: 92%;
    position: relative;
    overflow: hidden;
    border-radius: $radius;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .content_container{
    width: 100%;
    gap: 24px;
    .title{
      font-size: 32px;
    }
    .btn_acquista{
      font-size: 16px;
    }
    .btn_scopri{
      font-size: 16px;
    }
  }
}

.next_tab_component{
  gap: 40px;
  .next_btn_container{
    gap: 8px;
    p{
      text-align: center;
    }
    .title{
      font-size: 32px;
    }
  }
  .start_btn{
    .scroll_up_btn{
      font-size: 16px;
    }
  }
}

.solo_text_component{
  padding: 64px 0px;
}

.tab_accordion_component{
  .accordion_intro{
    margin-bottom: 24px;
    p{
      font-size: 16px;
    }
  }
  .section_accordion{
    .accordion_wrapper{
      .accordion_tab{
        padding: 16px 0px;
        .accordion_button_container{
          .accordion_title_container{
            p{
              font-size: 16px;
            }
          }
        }
      }
      .accordion_inner{
        .accordion_inner_container{
          gap: 24px;
          flex-direction: column-reverse;
          .accordion_inner_text{
            width: 100%;
            gap: 16px;
            .question{
              h6{
                color: $black;
              }
              p{
                color: #666666;
              }
            }
          }
          .accordion_inner_img{
            width: 100%;
            @include aspect(16,9);
          }
        }
      }
    }
  }
}



.accordion_materiali_new{
  .accordion_wrapper{
    .accordion_inner{
      .accordion_inner_container{
        flex-direction: column !important;
        .accordion_inner_img{
          .img_materiale{
            display: none;
          }
        }
        .accordion_inner_img:before{
          display: none !important;
        }
      }
    }
  }
  
}

.last_section{
  .last_section_container{
    gap: 64px;
    .doc_box{
      gap: 24px;
      align-items: center;
      padding: 50px 48px;
      .box_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
          font-size: 24px;
        }
      }
    }
    .cta{
      p{
        font-size: 16px;
      }
    }
    .start_btn{
      p{
        font-size: 16px;
      }
    }
  }
}
   
}


@media only screen and (max-width: 1200px) {

  .sectione_one{
    padding: $spacing*8 $spacing*4;
    .tilte_manifesto{
      h2{
        margin-bottom: 24px;
      }
    }
    .sectione_one_wrapper{
      flex-direction: column;
      gap: 40px;
      .sectione_one_text_container{
        width: 100%;
        padding-bottom: 0px;
        .section_one_text_box{
          .section_one_body{
            gap: 16px;
          }
  
        }
      }
      .section_one_video_container{
        width: 100%;
      }
    }
  }



  .section_principi_cards_container{
    .principi_cards_wrapper{
      flex-wrap: nowrap;
      overflow-x: scroll;
    }
    .principi_card{
      min-width: 500px;
      background-image: none !important;
      width: auto;
      display: flex;
      &:before{
        content: none;
        padding-top: unset;
      }
      .principi_title_circular{
        background-image: url(../images/content/stile-italiano.jpeg) !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .principi_title_fair{
        background-image: url(../images/content/circular-img.jpeg) !important;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card_title_container{
        position: relative;
        min-width: 150px;
        top:0;
        h2{
          position: absolute;
          bottom: 48px;
          display: flex;
          align-items: center;
          transform: rotate(180DEG);
          left: 55px;
          writing-mode: vertical-rl;
          transform-origin: center;
        }
      }
      .card_content_container{
        position: unset;
        opacity: 1;
        min-width: 350px;
        padding: 60px 32px;
        .content_card{
          width: 100%;
        }
      }
    }
  }

  .principi_card_fair{
    margin-right: 32px;
  }

  .section_cards{
    .cards_wrapper{
      .card_content_wrapper{
        min-height: 360px;
        .card_title{
          font-size: 16px;
        }
        .card_text{
          font-size: 14px;
        }
      }
    }
  }
}